<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if user_signed_in? %>
    <% if @user.teaching_ideas.any? %>
      <h3> Teaching Ideas (<%= @user.teaching_ideas.count %>)</h3>
      <ol class="teaching_ideas">
        <%= render @teaching_ideas %>
      </ol>
      <%= will_paginate @teaching_ideas %>
    <% end %>
  </div>
</div>